{% extends 'base.html' %}
{% block title %} About us {% endblock title %}
{% block body %}
<div class="card mb-3 text-center">
    <img class="card-img-top" src="static\tools.jpg" alt="Card image cap" height="600px" width="500px" >
    <div class="card-body">
      <h1 class="card-title">About us</h1>
      <p class="card-text">
        With the rapid growth of concretized urbanization, metropolitan citizens becoming more concerned about greener surroundings, gardening has taken off in a big way in recent years. To rekindle the joy of gardening, “My Dream Garden” is an effort to bring the pleasure of greenery back to home.
      </p>

      <p>
        <h3>Our Team</h3>
        We are a team that remains committed to combat all the adversities of our customers, always willing to make your fantasy garden a real one. My dream garden counts on a team of people who are the absolute best to achieve the goal of restoring green back to your home.

Our work is always aimed at the satisfaction of our valued clients. Without a doubt, whether they are mentors, managers, architects, floriculturists, designers, horticulturists, sales and marketing specialists, service and maintenance personnel, finance team, inventory team, fabricators, landscapers, gardeners, civil, electrical, plumbing, carpentry or any other team, each of us holds expertise in our respective disciplines, but when we come together, we create marvels. we are more than an organization; we are a dynamic group of professionals who will make your dream come true.

We continue to work on projects of all shapes and sizes, although we have earned a reputation for implementing creative, high-level solutions on fast turnaround deadlines.

“My Dream Garden” is a solution for all urbanites gardening requirements.
       
      </p>
      
    </div>
  </div>
{% endblock body %}