{% extends 'base.html' %}
{% block title %} Contact Us {% endblock title %}

{% block body %}

<h1 class="text-center my-3">Contact Us</h1>


<div class="container my-30">
    <form method="post" action="{% url 'contactus' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class= "form-label">Name :</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address :</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Phone number :</label>
            <input type="phone" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter your phone number" name="phone">
        </div>
        <div class="form-group">
            <label for="desc" class="form-label">What would you like to tell us :</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"placeholder="What would you like to tell us"></textarea>
        </div>
        <button type="submit" class="btn btn-dark my-3">Submit</button>
      </form>

</div>


{% endblock body %}