{% extends 'base.html' %}
{% block title %} Seeds {% endblock title %}
{% block body %}
<div class="container my-2" >
    <h1 class=" my-4 text-center" >Seeds</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-5 mx-5">
      <div class="col ">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Green Peas</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>
          <div class="card-body">
            <p class="card-text"><h3>Beans</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
             
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Red Chillies</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Green Bell Pepper</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
          
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Red Bell Pepper </h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Yellow Bell Pepper</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p>
            <div class="d-flex justify-content-between align-items-center">
              
             
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Green Chillies</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Egg Plant</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="static\seeds.jpg"</svg>

          <div class="card-body">
            <p class="card-text"><h3>Long Egg Plant</h3>Bush beans are generally ready to harvest within 50–55 days, while pole beans can take 55 to 60 days. The bean pods are ready to harvest when they’re four to six inches long and slightly firm, and before the beans protrude through the skin. Gently pull the beans from the plant, taking care not to tear the blooms. Harvest often to promote more sprouting.</p></p>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}