{% extends 'base.html' %}
{% block title %} Contact Us {% endblock title %}

{% block body %}

<h1 class="text-center my-3">Login</h1>


<div class="container ">
    <form method="post" action="{% url 'userlogin' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class= "form-label">User Name :</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name">
        </div>

        <label for="inputPassword" class="sr-only my-2">Password :</label>
          <input type="password" id="inputPassword" name="password" class="form-control " placeholder="Password" required="">

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div>
           Don't have an acount ? <a href="/register" class="link-dark my-1">Register</a> <br>
        </div>
        
        {%for message in messages%}
        {{message}}

        {% endfor %}
        <br>
       
        
        <button type="submit" class="btn btn-dark my-2 ">Submit</button>
      </form>

</div>


{% endblock body %}